body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error-banner {
  background-color: #ffcccc;
  color: #ff0000;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.success-banner {
  background-color: #aaffaa;
  color: #119911;
  padding: 10px;
  margin-bottom: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 100px; /* Adjust the height as needed */
}


.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 30px;
  margin-right: 0.5rem;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  align-items: center; /* Vertically center buttons */
  flex-grow: 1; /* Expand to fill remaining space */
  height: 100%; /* Set the height to 100% */
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 80px;
  margin-left: 10px;
  background-color: #fff;
  transition: background-color 1s ease;
  cursor: pointer;
}

.nav-link:hover {
  background-color: #eee;
}

.nav-link a {
  text-decoration: none;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-link button {
  font-size: 1em;
  margin: 15px 0px;
}

.registration-title {
  text-align: left;
}

.text-left {
  display: block;
  text-align: left !important;
}

.card-toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s;
}

.card:hover .card-toolbar {
  visibility: visible;
  opacity: 1;
}

.toolbar-icon {
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

.toolbar-icon:hover {
  color: #e6e6e6;
}

.fade-in {
  animation: fade-in-animation 0.5s;
}

@keyframes fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login-prompt {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  max-width: 400px;
  margin: 0 auto;
}

.login-prompt-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.login-prompt-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.login-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-icon {
  margin-top: 20px;
  color: #007bff;
}


